// Drawer nav

.q-drawer {
  .q-item {
    opacity: 0.6;

    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}

/* Remove stepper from inputs with type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
